<!-- faq.html -->
<section class="faq-section">
  <div class="container">
    <h2 class="faq-header">Все, що ви хотіли знати</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <div class="faq-open-div">
          <p class="faq-list-question">Я мрію про пухнастика! Що мені потрібно зробити, щоб забрати хвостика додому?</p>
          <svg class="faq-open-icon" width="24" height="24"><use href=""></use></svg>
        </div>
        <div class="faq-close-div">
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-open-div">
          <p class="faq-list-question">Як мені найкраще підготувати свій дім та родину до появи хвостика?</p>
          <svg class="faq-open-icon" width="24" height="24"><use href=""></use></svg>
        </div>
        <div class="faq-close-div">
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-open-div">
          <p class="faq-list-question">Чи можу я бути впевненим, що тваринка здорова? Розкажіть про щеплення.</p>
          <svg class="faq-open-icon" width="24" height="24"><use href=""></use></svg>
        </div>
        <div class="faq-close-div">
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-open-div">
          <p class="faq-list-question">Я дуже хочу допомогти, але поки не готовий до адопції. Чим я можу підтримати «Хатинку лапок»?</p>
          <svg class="faq-open-icon" width="24" height="24"><use href=""></use></svg>
        </div>
        <div class="faq-close-div">
        </div>
      </li>
      <li class="faq-list-item">
        <div class="faq-open-div">
          <p class="faq-list-question">Мені сподобалась одна з ваших тваринок на сайті. Чи можу я приїхати, щоб познайомитися з нею особисто?</p>
          <svg class="faq-open-icon" width="24" height="24"><use href=""></use></svg>
        </div>
        <div class="faq-close-div">
        </div>
      </li>
    </ul>
  </div>
</section>