/* about-us.css */
.about-us-slider {
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-desc {
    position: absolute;
    bottom: 64px;
    left: 64px;
    color: white;
    width: 548px;
    height: 108px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.about-us-slider .swiper-pagination {
    position: relative;
    margin-top: 50px;
}


.about-us-slider .swiper-pagination-bullet-active {
    background-color: var(--color-scheme-1-text);
}

.about-us-slider .swiper-button-next,
.about-us-slider .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    border: 1px solid var(--color-mariner-light);
    border-radius: 8px;
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--color-scheme-1-foreground);
}

.about-us-slider .swiper-button-next:hover,
.about-us-slider .swiper-button-prev:hover,
.about-us-slider .swiper-button-next:focus,
.about-us-slider .swiper-button-prev:focus {
    border: 1px solid var(--opacity-neutral-darkest-60);
}

.about-us-slider .swiper-button-next:active,
.about-us-slider .swiper-button-prev:active {
    border: 1px solid var(--opacity-neutral-darkest-60);
    box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
    background: var(--color-scheme-1-foreground);
}


.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}


.swiper-button-next,
.swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-slider .swiper-button-prev {
    left: -24px;
    color: var(--color-scheme-1-text);

}

.about-us-slider .swiper-button-next {
    right: -24px;
    color: var(--color-scheme-1-text);
}

.about-us {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-us-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 40px;
}