/* header.css */
.header {
  padding: 20px 0;
}
.header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.nav{
  display: flex;
  align-items: center;
  gap: 25px;
}
.take-a-friend-header{
  background-color: var(--color-mariner-dark);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  line-height: 150%;
  width: 130px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
